.satu {
  width: 300px;
  height: 100px;
  background-color: cyan;
  border: 5px dotted red;
  overflow: scroll;
}

.dua {
  width: 290px;
  height: 100px;
  background-color: cyan;
  border: 5px solid green;
  overflow: scroll;
}

.tiga {
  width: 300px;
  height: 100px;
  background-color: cyan;
  border: 20px dashed blue;
  overflow: scroll;
}
